@charset "UTF-8";
/*------Font sizes----------*/
/*Логотип*/
/*Заголовки секций*/
/*Основной текст, заголовки в .stactics*/
/*---------Colors------------*/
/*-------Text styles-------------------------*/
/*-------Figures-------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
button, a, img, ul, li, form, label, aside,
footer, header, nav, section,
time, figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

button,
input {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  line-height: normal;
  background: none;
  outline: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
}

/* Top part of header: navigation
============================================================*/
.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #F1F1F1;
}

.nav-header__icon {
  padding: 0 18px;
  border-right: 1px solid #F1F1F1;
}

.nav-header__rectangle {
  width: 32px;
  height: 16px;
  margin: 0 20px;
  border-radius: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to left, #FC755B, #FD5272);
}

.nav-header__search {
  width: 299px;
  margin: 18px 187px;
  padding: 11px 11px;
  font-weight: 400;
  font-size: 12px;
  color: #C8C8C8;
  text-transform: capitalize;
  background: #F8F8F8;
  border: 1px solid #F1F1F1;
  border-radius: 20px;
}

.nav-header__search::-webkit-input-placeholder {
  color: #C8C8C8;
}

.nav-header__search:-moz-placeholder {
  color: #C8C8C8;
}

.nav-header__search::-moz-placeholder {
  color: #C8C8C8;
}

.nav-header__search:-ms-input-placeholder {
  color: #C8C8C8;
}

.nav-header label {
  position: relative;
}

.nav-header label:before {
  content: '';
  position: absolute;
  z-index: 500;
  top: 40%;
  right: 30%;
  width: 16px;
  height: 16px;
  background: url(/source/img/search.png);
}

.nav-header-person__main {
  padding: 0 55px 0 18px;
}

.nav-header-person__main > h5 {
  background: -webkit-gradient(linear, right top, left top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to left, #FC755B, #FD5272);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav-header-person__main > h5::first-letter {
  text-transform: lowercase;
}

/* Bottom part of header: stactics
============================================================*/
.stactics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stactics__item {
  padding: 20px 0 22px;
  text-align: left;
}

.stactics__item > h4 {
  margin-bottom: 5px;
  line-height: 1;
}

.stactics__item > h3 {
  margin-bottom: 8px;
}

.stactics-item__changes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stactics-item__changes > p {
  padding: 0 7.5px;
  font-weight: 700;
  font-size: 12px;
  color: #BFBFBF;
}

.stactics__btn button {
  padding: 20px 20px 22px 0;
  cursor: pointer;
  /*h3*/
  font-weight: 700;
  font-size: 12px;
  color: #777777;
  text-transform: capitalize;
  background: -webkit-gradient(linear, right top, left top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to left, #FC755B, #FD5272);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/*Common styles
=======================================================*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  background-color: #F0F0F0;
}

.inner {
  margin: 10px;
  padding: 30px;
  -webkit-box-shadow: 0 0 3px 6px #EDEDED;
          box-shadow: 0 0 3px 6px #EDEDED;
}

.inner--narrow {
  margin: 10px;
  padding: 30px 25px;
  -webkit-box-shadow: 0 0 3px 6px #EDEDED;
          box-shadow: 0 0 3px 6px #EDEDED;
}

.holder__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.holder-box__final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

/*Monthly Revenue Progress
=======================================================*/
.monthly-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.monthly-progress__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.title__period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 57px;
  font-weight: 700;
  font-size: 12px;
  color: #BFBFBF;
}

input[type="radio"] {
  visibility: hidden;
  display: none;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 6px;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  width: 66px;
  height: 24px;
  border-radius: 10px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, right top, left top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to left, #FC755B, #FD5272);
}

.monthly-progress__chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chart__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

.chart__main {
  position: relative;
  height: 100px;
  margin-bottom: 25px;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}

.chart__main:before {
  content: '';
  position: absolute;
  top: 33%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #F1F1F1;
}

.chart__main:after {
  content: '';
  position: absolute;
  top: 66%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #F1F1F1;
}

.chart__amount {
  height: 155px;
  padding-bottom: 40px;
  margin-right: 30px;
}

.chart__amount ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.chart__month {
  width: 580px;
  padding: 0 10px;
}

.chart__month ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.monthly-progress__chart li,
.monthly-progress__chart li p {
  font-weight: 700;
  font-size: 12px;
  color: #BFBFBF;
}

/*График*/
.data-point {
  content: '';
  position: absolute;
  left: var(--x);
  bottom: var(--y);
  z-index: 5;
  width: 6px;
  height: 6px;
  background-color: #FD5272;
}

.line-segment {
  content: '';
  position: absolute;
  left: calc(var(--x) + 3.5px);
  bottom: calc(var(--y) + 2px);
  z-index: 1;
  width: var(--hypotenuse);
  height: 2px;
  -webkit-transform: rotate(var(--angle));
          transform: rotate(var(--angle));
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  background: #FD5272;
}

/*Revenue Per Hour
=======================================================*/
.hour-revenue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hour-revenue > h2 {
  margin-bottom: 30px;
}

.pie-chart {
  position: relative;
  width: 124px;
  height: 124px;
  margin: 0 39px 32px;
  border-radius: 50%;
  background: linear-gradient(135deg, #AB6BDD, #8744B1);
}

.pie-chart span {
  position: absolute;
  top: 45px;
  left: 33px;
  z-index: 25;
  font-weight: 700;
  font-size: 25px;
  background: linear-gradient(135deg, #AB6BDD, #8744B1);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.pie-chart:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 15;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.pie-chart:after {
  content: '';
  position: absolute;
  top: 18px;
  right: 18px;
  bottom: 18px;
  left: 18px;
  z-index: 20;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 5px 5px #EDEDED;
          box-shadow: 0 0 5px 5px #EDEDED;
}

.hour-revenue__changes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hour-revenue__changes > p {
  padding: 0 7.5px;
}

/*Customers feed
=======================================================*/
.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.feed h2 {
  margin-bottom: 38px;
}

.feed-box__list {
  /*Первый уровень списка*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feed-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 18px;
}

.feed-box__item ul {
  /*Второй уровень списка*/
  position: relative;
  margin-left: 90px;
}

.feed-box-item__msg:not(:last-of-type) {
  margin-bottom: 18px;
}

.feed-box__item ul:before {
  content: '';
  position: absolute;
  top: 0;
  left: -17px;
  width: 4px;
  height: 100%;
  background: #F1F1F1;
}

.feed-box-item__main-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 18px;
}

.feed-box-item__main-msg figure {
  margin-right: 20px;
}

.feed-box-item__main-msg img {
  width: 43px;
  height: 43px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.feed-box-item__main-msg figcaption {
  font-weight: 400;
  font-size: 8px;
  color: #979796;
}

.feed-box-item__text {
  font-weight: 400;
  font-size: 12px;
  color: #BFBFBF;
  padding: 20px 22px 18px 21px;
  border: 1px solid #F1F1F1;
}

.feed-box-item__text--narrow {
  font-weight: 400;
  font-size: 12px;
  color: #BFBFBF;
  padding: 20px 20px 18px;
  border: 1px solid #F1F1F1;
}

.feed-box-item__text span,
.feed-box-item__text--narrow span {
  font-weight: 900;
  color: #777777;
}

/*Todays Task
=======================================================*/
.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task h2 {
  margin-bottom: 20px;
}

.task__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  border-top: 1px solid #F1F1F1;
}

.task-list__item:last-of-type {
  border-bottom: 1px solid #F1F1F1;
}

.task-item__check input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.task-item__check {
  position: relative;
  margin-left: 30px;
  font-weight: 900;
  font-size: 12px;
  cursor: pointer;
  background: -webkit-gradient(linear, right top, left top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to left, #FC755B, #FD5272);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.task-list__item span {
  position: absolute;
  top: -1px;
  left: -28px;
  z-index: 5;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #F1F1F1;
  cursor: pointer;
}

.task-item__check input[type="checkbox"]:checked ~ span {
  background: -webkit-gradient(linear, right top, left top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to left, #FC755B, #FD5272);
  border: none;
}

.task-item__check input[type="checkbox"]:checked:before ~ span {
  /*не работает*/
  content: '';
  position: absolute;
  top: 0;
  left: -28px;
  z-index: 10;
  width: 4px;
  height: 10px;
  background: yellow;
}

.task-list__item p {
  font-weight: 400;
  font-size: 12px;
  color: #BFBFBF;
}

.task-list__item time {
  position: relative;
  font-weight: 700;
  font-size: 12px;
  color: #9C9C9C;
  text-align: left;
}

.task-item__time time:before {
  content: '';
  position: absolute;
  top: 1px;
  left: -20px;
  width: 12px;
  height: 12px;
  background: url(/source/img/clock.png);
}

/*Progress
=======================================================*/
.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress > h2 {
  margin: 0 62px 28px 62px;
}

.progress__chart img {
  width: 145px;
  margin-bottom: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.progress__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.progress__value > h4 {
  margin-bottom: 11px;
}

.progress-value__changes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-value__changes > p {
  padding: 0 7.5px;
}

.h4--modify {
  background: linear-gradient(135deg, #AF6EDE, #7089E5);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/*Shipment
=======================================================*/
.shipment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shipment > h2 {
  margin-bottom: 24px;
}

.shipment__map img {
  margin-bottom: 15px;
}

.shipment__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shipment-value__changes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.shipment-value__changes > p {
  padding: 0 7.5px;
}

/*---------------Common styles------------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: #F0F0F0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  background-color: #FFFFFF;
}

.increase {
  position: relative;
  font-weight: 700;
  font-size: 12px;
  color: #BFBFBF;
}

.increase:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 3px;
  height: 3px;
  border: 3px solid transparent;
  border-bottom: 6px solid #A889E9;
}

.decrease {
  position: relative;
  font-weight: 700;
  font-size: 12px;
  color: #BFBFBF;
}

.decrease:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 3px;
  height: 3px;
  border: 3px solid transparent;
  border-top: 6px solid #FD5670;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.person-main h5 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 13px;
}

.person-main p {
  font-weight: 700;
  font-size: 10px;
  color: #BFBFBF;
  text-transform: capitalize;
}

/*----------------Font styles-----------------------------*/
h1 {
  font-weight: 400;
  font-size: 30px;
  font-family: 'Deftone Stylus', Arial, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC755B), to(#FD5272));
  background: linear-gradient(to bottom, #FC755B, #FD5272);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h2 {
  /*h2*/
  font-weight: 700;
  font-size: 14px;
  color: #777777;
}

h3 {
  /*h3*/
  font-weight: 700;
  font-size: 12px;
  color: #777777;
  text-transform: capitalize;
}

h4 {
  /*h4*/
  font-weight: 700;
  font-size: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to left, #FC755B, #FD5272);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h5 {
  font-weight: 700;
  font-size: 13px;
}

/*Navigation aside
============================================================*/
.nav-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.5%;
          flex: 0 0 5.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC755B), to(#FD5272));
  background: linear-gradient(to bottom, #FC755B, #FD5272);
}

.nav-sidebar__logo {
  padding: 20px 0 18px;
  background: #FFFFFF;
}

.nav-sidebar__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-sidebar div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-sidebar__box nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-sidebar__box nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.nav-sidebar__box nav a:first-of-type {
  padding-top: 30px;
}

.nav-sidebar__box nav a:last-of-type {
  margin-top: auto;
}

.nav-sidebar__box nav a img {
  margin-bottom: 8px;
}

/*Right sidebar
===============================================================*/
.right-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  background-color: #FFFFFF;
}

.right-sidebar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, right top, left top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to left, #FC755B, #FD5272);
}

.right-sidebar__btn {
  position: relative;
  padding: 13px 32px;
  cursor: pointer;
}

.right-sidebar__btn:hover {
  background-color: #C54357;
}

.right-sidebar__btn:hover:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 45%;
  width: 12px;
  height: 12px;
  border: 6px solid transparent;
  border-top: 6px solid #C54357;
}

.right-sidebar__content {
  padding: 0 18px;
}

.right-sidebar__content li:not(:last-child) {
  padding: 20px 0 22px;
  border-bottom: 1px solid #F1F1F1;
}

.right-sidebar__content li:last-child {
  padding: 19px 0 34px;
}

.right-sidebar__content li:first-child {
  padding: 24px 0 20px;
}

.right-sidebar-person__main {
  padding: 0 50px 0 16px;
}

.right-sidebar-person__main h5 {
  color: #777777;
}

.right-sidebar-person__avatar img {
  width: 42px;
  height: 42px;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: center 25%;
     object-position: center 25%;
}

.right-sidebar__search {
  position: relative;
}

.right-sidebar__search input {
  width: 100%;
  padding: 16px 80px 20px 15px;
  font-size: 10px;
  color: #C8C8C8;
  border: 1px solid #F1F1F1;
  border-left: none;
  border-right: none;
}

.right-sidebar__search input::-webkit-input-placeholder {
  color: #C8C8C8;
}

.right-sidebar__search input:-moz-placeholder {
  color: #C8C8C8;
}

.right-sidebar__search input::-moz-placeholder {
  color: #C8C8C8;
}

.right-sidebar__search input:-ms-input-placeholder {
  color: #C8C8C8;
}

.right-sidebar__search:before {
  content: '';
  position: absolute;
  z-index: 500;
  top: 30%;
  right: 20%;
  width: 19px;
  height: 19px;
  background: url(/source/img/search.png) no-repeat center/contain;
}

.right-sidebar__search:after {
  content: '';
  position: absolute;
  z-index: 500;
  top: 30%;
  right: 10%;
  width: 19px;
  height: 19px;
  background: url(/source/img/aside/edit.png) no-repeat center/contain;
}

.right-sidebar__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 18px;
}

.right-sidebar__companies h2 {
  padding-bottom: 30px;
}

.right-sidebar__companies ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.right-sidebar__companies ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  margin-bottom: 10px;
  background-color: #C54357;
  border-radius: 30%;
}

#rdio {
  background: linear-gradient(135deg, #B26EE0, #6B5BB4);
}

#css {
  background: linear-gradient(135deg, #57E6C7, #4CBCC3);
}

#deviantart {
  background: linear-gradient(135deg, #F0B094, #B4717A);
}

#xing {
  background: linear-gradient(135deg, #798DE4, #894BB4);
}

#vimeo {
  background: linear-gradient(135deg, #48D1E0, #528FE6);
}

#vk {
  background: linear-gradient(135deg, #FAD488, #F59083);
}
/*# sourceMappingURL=main.css.map */