// @import "../fonts/fonts";
@import "../scss/global/variables";
@import "../scss/global/mixins";
@import "../scss/global/normalize";


.wrapper {
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-color: $bcg;
}
h1 {
    font-weight: 400;
    font-size: $hugeFont;
    @include baseGradientLogo;
}
h2 {
    @include title;
}
h3 {
    @include small-title;
}
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.holder {
    display: flex;
}

section {
    background-color: #FFFFFF;
}

/*Navigation aside
============================================================*/

.nav-sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 5.5%;
    justify-content: space-between;
    align-items: center;
    height: 1000px;
    @include baseGradient;
}

.nav-sidebar__logo {
    padding: 25px 0 22px;
    background: $sectionBcg;
}

.nav-sidebar {
    div {
        align-items: center;
        justify-content: center;
    }
}

.nav-sidebar {
    div {
        nav {
            display: flex;
            flex-direction: column; 
            align-items: center; 
        }
    }
}

/* Header
============================================================*/
header {
    display: flex;
    flex-direction: column;
    background: $sectionBcg;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid $borderColor;
}

.nav-header__icon {
    padding: 0 18px; 
    border-right: 1px solid $borderColor;
}

// .nav-header__icon > img {
    
// }

.nav-header__rectangle {
    width: 32px;    
    height: 16px;
    border-radius: 20px;
    background: linear-gradient(to left, $gradientBaseStart, $gradientBaseEnd);
}

.nav-header__search {
    margin: 18px 187px;
    padding: 11px 162px 11px 11px;
    font-weight: 400;
    font-size: $mediumFont;
    color: $searchTextColor;
    text-transform: capitalize;
    background: $searchColor;
    border: 1px solid $borderColor;
    border-radius: 20px;
}

.nav-header__user {
    display: flex;
    align-items: center;
}

.nav-header-user__main {
    padding: 0 72px 0 18px;
}

.nav-header-user__main > h4 {
    font-weight: 700;
    font-size: $nameFont;
    @include baseGradientText;
    text-transform: capitalize;
}

.nav-header-user__main > h4::first-letter {
    text-transform: lowercase;
}

.nav-header-user__main > p {
    font-weight: 700;
    font-size: $smallFont;
    color: $textColor;
}

.stactics {
    display: flex; 
    justify-content: space-around;  
    align-items: center; 
}

.stactics__item {
    padding: 20px 0 22px;
    text-align: left;
}

.stactics__item {
    span {
        @include stactics-number;
    }            
}

.stactics-item__changes {
    display: flex;
}

.stactics-item__changes > p {
    padding: 0 7.5px;
    @include changes;
}

.stactics__btn button {
    padding: 20px 0 22px;
    cursor: pointer;
    @include small-title;
    @include baseGradientText;
}

/*Main 
=======================================================*/
main {
    display: flex;
    flex: 1;
    flex-flow: wrap row;
    justify-content: space-around;
    padding: 10px;
    background-color: $bcg;
}

.inner {
    margin: 10px;
    
}

.monthly-progress {
    width: 704px;
    height: 266px;
}

.hour-revenue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    width: 264px;
}

.hour-revenue > h2 {
    margin-bottom: 30px;

}

.hour-revenue__changes {
    display: flex;
}

.hour-revenue__changes > p {
    padding: 0 7.5px;
    @include changes; 
}

.feed {
    width: 467px;
    height: 508px;
}

.holder__box {
    display: flex;
    flex-direction: column;
}

.task {
    width: 501px;
    height: 244px;
}

.holder-box__final {
    display: flex;
}

.progress {
    width: 241px;
    height: 244px;
}

.shipment {
    width: 241px;
    height: 245px;
}
/*Right sidebar
===============================================================*/
.right-sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    height: 834px;
    background-color: red;
}