// @import "../fonts/fonts";
@import "../scss/global/variables";
@import "../scss/global/mixins";
@import "../scss/global/normalize";


.wrapper {
    display: flex;
    flex-flow: wrap row;
    // justify-content: center;
    max-width: 1366px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-color: $bcg;
}
h1 {
    font-weight: 400;
    font-size: $hugeFont;
    @include baseGradientLogo;
}
h3 {
    @include small-title;
}
/*Navigation aside
============================================================*/
.nav-sidebar {
    // position: fixed;
    // top: 0;
    // left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 73px;
    height: 1000px;
    // padding: 25px 0 19px;
    @include baseGradient;
}

.nav-sidebar__logo {
    padding: 25px 0 22px;
    background: $sectionBcg;
}

// .nav-sidebar__logo > a {
//     justify-content: center;
//     align-items: center;
// }

.nav-sidebar {
    div {
        align-items: center;
        justify-content: center;
    }
}

.nav-sidebar {
    div {
        nav {
            display: flex;
            flex-direction: column; 
            align-items: center; 
        }
    }
}

/* Header
============================================================*/
header {
    display: flex;
    flex-direction: column;
    width: calc(1366px - 73px);
    background: $sectionBcg;
    height: 166px;
}

.nav-header {
    height: 100px;
}

.stactics {
    display: flex; 
    justify-content: space-around;   
}

.stactics__item {
    padding: 20px 0 22px;
    text-align: left;
}

.stactics__item {
    span {
        @include stactics-number;
    }            
}

.stactics-item__changes {
    display: flex;
}

.stactics-item__changes > p {
    padding: 0 7.5px;
    @include standart-text;
}

main {
    































}