@charset "UTF-8";
/*------Font sizes----------*/
/*Логотип*/
/*Заголовки секций*/
/*Основной текст, заголовки в .stactics*/
/*---------Colors------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
button, a, img, ul, li, form, label, aside,
footer, header, nav, section,
time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

button,
input {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  line-height: normal;
  background: none;
  outline: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: #F0F0F0;
}

h1 {
  font-weight: 400;
  font-size: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC755B), to(#FD5272));
  background: linear-gradient(to bottom, #FC755B, #FD5272);
  background-size: 100%;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  font-weight: 700;
  font-size: 14px;
  color: #777777;
  text-transform: capitalize;
}

h3 {
  font-weight: 700;
  font-size: 12px;
  color: #777777;
  text-transform: capitalize;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  background-color: #FFFFFF;
}

/*Navigation aside
============================================================*/
.nav-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.5%;
          flex: 0 0 5.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1000px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC755B), to(#FD5272));
  background: linear-gradient(to bottom, #FC755B, #FD5272);
}

.nav-sidebar__logo {
  padding: 25px 0 22px;
  background: #FFFFFF;
}

.nav-sidebar div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-sidebar div nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Header
============================================================*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #F1F1F1;
}

.nav-header__icon {
  padding: 0 18px;
  border-right: 1px solid #F1F1F1;
}

.nav-header__rectangle {
  width: 32px;
  height: 16px;
  border-radius: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to left, #FC755B, #FD5272);
}

.nav-header__search {
  margin: 18px 187px;
  padding: 11px 162px 11px 11px;
  font-weight: 400;
  font-size: 12px;
  color: #C8C8C8;
  text-transform: capitalize;
  background: #F8F8F8;
  border: 1px solid #F1F1F1;
  border-radius: 20px;
}

.nav-header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header-user__main {
  padding: 0 72px 0 18px;
}

.nav-header-user__main > h4 {
  font-weight: 700;
  font-size: 13px;
  background: -webkit-gradient(linear, left top, right top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to right, #FC755B, #FD5272);
  background-size: 100%;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: capitalize;
}

.nav-header-user__main > h4::first-letter {
  text-transform: lowercase;
}

.nav-header-user__main > p {
  font-weight: 700;
  font-size: 10px;
  color: #BFBFBF;
}

.stactics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stactics__item {
  padding: 20px 0 22px;
  text-align: left;
}

.stactics__item span {
  font-weight: 700;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to right, #FC755B, #FD5272);
  background-size: 100%;
  -webkit-background-clip: text;
  color: transparent;
}

.stactics-item__changes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stactics-item__changes > p {
  padding: 0 7.5px;
  font-weight: 700;
  font-size: 12px;
  color: #BFBFBF;
}

.stactics__btn button {
  padding: 20px 0 22px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  color: #777777;
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, right top, from(#FC755B), to(#FD5272));
  background: linear-gradient(to right, #FC755B, #FD5272);
  background-size: 100%;
  -webkit-background-clip: text;
  color: transparent;
}

/*Main 
=======================================================*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  background-color: #F0F0F0;
}

.inner {
  margin: 10px;
}

.monthly-progress {
  width: 704px;
  height: 266px;
}

.hour-revenue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  width: 264px;
}

.hour-revenue > h2 {
  margin-bottom: 30px;
}

.hour-revenue__changes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hour-revenue__changes > p {
  padding: 0 7.5px;
  font-weight: 700;
  font-size: 12px;
  color: #BFBFBF;
}

.feed {
  width: 467px;
  height: 508px;
}

.holder__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task {
  width: 501px;
  height: 244px;
}

.holder-box__final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress {
  width: 241px;
  height: 244px;
}

.shipment {
  width: 241px;
  height: 245px;
}

/*Right sidebar
===============================================================*/
.right-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 834px;
  background-color: red;
}
/*# sourceMappingURL=main.css.map */