@import "./global/variables";
@import "./global/mixins";
@import "./global/normalize";
@import "./components/header";
@import "./components/main";
@import "./components/nav";
@import "./components/aside";

/*---------------Common styles------------------------*/
body {
    max-width: 1366px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: $bcg;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100px;
}
.holder {
    display: flex;
}
section {
    background-color: #FFFFFF;
}
.increase {                     
    position: relative;
    @include changes;
}
.increase:before {
    @include increase;
}
.decrease {
    position: relative; 
    @include changes;
}
.decrease:before {
    @include decrease;
}
.person {
    display: flex;
    align-items: center;
}
.person-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.person-main h5 {
    margin-bottom: 8px;
    font-weight: 700;   
    font-size: $nameFont;
}
.person-main p {
    font-weight: 700;
    font-size: $smallFont;
    color: $textColor;
    text-transform: capitalize;
}
/*----------------Font styles-----------------------------*/
h1 {
    width: 30px;
    font-weight: 400;
    font-size: $hugeFont;
    font-family: 'Deftone Stylus', Arial, sans-serif;
    @include gradientText (to bottom);
}
h2 {
    @include title;
}
h3 {
    @include small-title;
}
h4 {
    @include stactics-number;
}
h5 {
    font-weight: 700;
    font-size: $nameFont;
}

@import "./global/media";