header {
    display: flex;
    flex-direction: column;
    background: $sectionBcg;
}

/* Top part of header: navigation
============================================================*/
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid $borderColor;
}
.nav-header__icon {
    padding: 0 18px; 
    border-right: 1px solid $borderColor;
}
.nav-header__rectangle {
    width: 32px;    
    height: 16px;
    margin: 0 20px;
    border-radius: 20px;
    background: linear-gradient(to left, $gradientBaseStart, $gradientBaseEnd);
}
.nav-header__search {
    margin: 18px 187px;
    padding: 11px 162px 11px 11px;
    font-weight: 400;
    font-size: $mediumFont;
    color: $searchTextColor;
    text-transform: capitalize;
    background: $searchColor;
    border: 1px solid $borderColor;
    border-radius: 20px;
}
.nav-header__user {
    display: flex;
    align-items: center;
}
.nav-header-user__main {
    padding: 0 55px 0 18px;
}
.nav-header-user__main > h4 {
    margin-bottom: 9px;
    font-weight: 700;
    font-size: $nameFont;
    @include baseGradientText;
    text-transform: capitalize;
}
.nav-header-user__main > h4::first-letter {
    text-transform: lowercase;
}
.nav-header-user__main > p {
    font-weight: 700;
    font-size: $smallFont;
    color: $textColor;
}
/* Bottom part of header: stactics
============================================================*/
.stactics {
    display: flex; 
    justify-content: space-around;  
    align-items: center; 
}
.stactics__item {
    padding: 20px 0 22px;
    text-align: left;
}
.stactics__item {
    span {
        @include stactics-number;
    }            
}
.stactics-item__changes {
    display: flex;
}
.stactics-item__changes > p {
    padding: 0 7.5px;
    @include changes;
}
.stactics__btn button {
    padding: 20px 0 22px;
    cursor: pointer;
    @include small-title;
    @include baseGradientText;
}