header {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    background: $sectionBcg;
}

/* Top part of header: navigation
============================================================*/
.nav-header {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $borderColor;
}
.nav__box {
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-header__icon {
    position: relative;
    height: 100%;
    padding: 0 18px; 
    border: none;
    border-left: 1px solid $borderColor;

    img {
        margin: 27px 0;
    }

    &:before {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        @include gradient;
        mix-blend-mode: screen;
    }

    // &:first-child {
    //     padding-left: 0;
    //     border-left: 1px solid $borderColor;
    // }

    &:last-child {
        border-right: 1px solid $borderColor;
    }
    
    &:last-child:after {
        content: '';
        position: absolute;  
        top: 20px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        @include gradient;  
    }
}
.nav-header__rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;    
    height: 16px;
    margin: 29px 20px;
    border-radius: 20px;
    @include gradient;
}
.dot {
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $sectionBcg;   

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $sectionBcg;
    } 

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $sectionBcg;
    } 
}
.nav-header__search {
    flex-basis: 30%;
    width: 299px;
    padding: 11px 11px;
    font-weight: 400;
    font-size: $mediumFont;
    color: $searchTextColor;
    text-transform: capitalize;
    background: $searchColor;
    border: 1px solid $borderColor;
    border-radius: 1.4vw;
    @include placeholder;
}
.nav-header label {
    position: relative;
    padding: 18px calc(5px + 12vw);
}
.nav-header label:before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 40%;
    right: calc(50% - ((299px / 2) - 15px));
    width: 16px;
    height: 16px;
    background: url(../img/search.png);
}
.nav-header__person {
    display: flex;
    justify-content: space-around;
}
.nav-header-person__main {
    padding: 0 10px 0 18px;
    position: relative;

    h5 {
        @include gradientText;

        &::first-letter {
            text-transform: lowercase;
        }
    }
}
.hamburger {
    position: relative;
    width: 4px;
    height: 4px;
    margin: 0 15px;
    background: $textColor;
    border-radius: 50%;

    &:before {
        content: '';
        position: absolute;
        top: -6px;
        left: 0;
        width: 4px;
        height: 4px;
        background: $textColor;
        border-radius: 50%;
    }

    &:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        width: 4px;
        height: 4px;
        background: $textColor;
        border-radius: 50%;
    }
}
/* Bottom part of header: stactics
============================================================*/
.stactics {
    display: flex; 
    justify-content: space-between;  
    align-items: center; 
    padding: 0 35px 0 45px;
}
.stactics-box {
    display: flex; 
    flex: 1 0 auto;
    justify-content: space-between;
    width: 150px;
    overflow-x: auto;
}
.stactics__item {
    min-width: 120px;
    padding: 20px 10px 22px;
    text-align: left;
}
.stactics__item > h4 {
    margin-bottom: 5px;
    line-height: 1;
}
.stactics__item > h3 {
    margin-bottom: 8px;
}
.stactics-item__changes {
    display: flex;
}
.stactics-item__changes > p {
    padding: 0 7.5px;
    @include changes;
}
.stactics__btn button {
    padding: 20px 20px;
    cursor: pointer;
    @include small-title;
    @include gradientText;
}