/*Common styles
=======================================================*/
main {
    display: flex;
    flex: 1;
    flex-flow: wrap row;
    justify-content: space-around;
    padding: 10px;
    background-color: $bcg;
}
.inner {
    margin: 10px;
    padding: 30px;
    box-shadow: 0 0 3px 6px $borderShadowColor;
}
.inner--narrow {
    margin: 10px;
    padding: 30px 25px;
    box-shadow: 0 0 3px 6px $borderShadowColor;    
}
/*Monthly Revenue Progress
=======================================================*/
.monthly-progress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 704px;
}
.monthly-progress__title {
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.title__period {
    display: flex;
    margin-right: 57px;
    @include changes;
}
input[type="radio"] {
    visibility: hidden;
    display: none;
}
.check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    cursor: pointer;
}
input[type="radio"]:checked + label {
    width: 66px;
    height: 24px;
    border-radius: 10px;
    color: $sectionBcg;  
    @include baseGradientToLeft;
}
/*Revenue Per Hour
=======================================================*/
.hour-revenue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.hour-revenue > h2 {
    margin-bottom: 30px;
    // padding: 0 75px 0 27px;
}
.pie-chart {
    position: relative;
    width: 124px;
    height: 124px;
    margin: 0 39px 32px;
    border-radius: 50%;
   @include pieChartGradient;
}
.pie-chart span {
    position: absolute;
    top: 45px;
    left: 33px;
    z-index: 25;
    font-weight: 700;
    font-size: $big-numberFont;
    @include pieChartGradientText;
}

.pie-chart:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 15;
    border-radius: 50%;
    background-color: $sectionBcg;    
}

.pie-chart:after {
    content: '';
    position: absolute;
    top: 18px;
    right: 18px;
    bottom: 18px;
    left: 18px;
    z-index: 20;
    border-radius: 50%;
    background-color: $sectionBcg; 
    box-shadow: 0 0 5px 5px $borderShadowColor; 
}
.hour-revenue__changes {
    display: flex;
}
.hour-revenue__changes > p {
    padding: 0 7.5px;
}
/*Customers feed
=======================================================*/

.feed {
    width: 467px;
    height: 508px;
}

.holder__box {
    display: flex;
    flex-direction: column;
}
/*Todays Task
=======================================================*/
.task {
    display: flex;
    flex-direction: column;
}
.task h2 {
    margin-bottom: 20px;
}
.task__list {
    display: flex;
    flex-direction: column;
}
.task-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid $borderColor;
}
.task-list__item:last-of-type {
    border-bottom: 1px solid $borderColor;
}
.task-item__check input[type="checkbox"] {
    visibility: hidden;
    display: none;
}
.task-item__check {
    position: relative;
    margin-left: 30px;
    font-weight: 900;
    font-size: $mediumFont;
    cursor: pointer;
    @include baseGradientText;    
}
.task-list__item span {
    position: absolute;
    top: -1px;
    left: -28px;
    z-index: 5;
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid $borderColor;
    cursor: pointer;
}
.task-item__check input[type="checkbox"]:checked ~ span {
    @include baseGradientToLeft;  
    border: none;  
}
.task-item__check input[type="checkbox"]:checked:before ~ span {
    content: '';
    position: absolute;
    top: 0;
    left: -28px;
    z-index: 10;
    width: 4px;
    height: 10px;
    background:yellow;
}
.task-list__item p {
    @include standart-text;
}
.task-list__item time {
    position: relative;
    font-weight: 700;
    font-size: $mediumFont;
    color: $taskTimeColor;
    text-align: left;
}
.task-item__time time:before {
    content: '';
    position: absolute;
    top: 1px;
    left: -20px;
    width: 12px;
    height: 12px;
    background: url(/source/img/clock.png);
}




.holder-box__final {
    display: flex;
}
/*Progress
=======================================================*/
.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progress > h2{
    margin: 0 62px 28px 62px;
}
.progress__chart img {
    width: 145px;
    margin-bottom: 20px;
    object-fit: contain;
}
.progress__value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progress__value > h4 {
    margin-bottom: 11px;
}
.progress-value__changes {
    display: flex;
}
.progress-value__changes > p{
   padding: 0 7.5px;
}
.h4--modify {
    @include barChartGradientText;
}

/*Shipment
=======================================================*/
.shipment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.shipment > h2 {
    margin-bottom: 24px;
}
.shipment__map img {
    margin-bottom: 15px;
}
.shipment__value {
    display: flex;
}
.shipment-value__changes {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.shipment-value__changes > p {
    padding: 0 7.5px;
}