/*Common styles
=======================================================*/
main {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    padding: 10px;
    background-color: $bcg;
}
.inner {
    margin: 10px;
    padding: 30px;
    box-shadow: 0 0 3px 6px $borderShadowColor;
}
.inner--narrow {
    margin: 10px;
    padding: 30px 25px;
    box-shadow: 0 0 3px 6px $borderShadowColor;    
}
.holder__box {
    display: flex;
    flex-direction: column;
}
.holder-box__final {
    display: flex;
    flex-flow: row wrap;
}
/*Monthly Revenue Progress
=======================================================*/
.monthly-progress {
    display: flex;
    flex: 1 0;
    flex-direction: column;
}
.monthly-progress__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.title__period {
    display: flex;
    margin-right: 57px;
    @include changes;
}
input[type="radio"] {
    visibility: hidden;
    display: none;
}
.check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    cursor: pointer;
}
input[type="radio"]:checked + label {
    width: 66px;
    height: 24px;
    border-radius: 10px;
    color: $sectionBcg;  
    @include gradient;
}
.monthly-progress__chart {
    display: flex;
}
.chart__holder {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.chart__main {
    position: relative;
    height: 100px;
    margin-bottom: 25px;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
}
.chart__main:before {
    content: '';
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $borderColor;
}
.chart__main:after {
    content: '';
    position: absolute;
    top: 66%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $borderColor;
}
.chart__amount {
    height: 155px;
    padding-bottom: 40px;
    margin-right: 30px;
}
.chart__amount ul {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    height: 100%;
}
.chart__month {
    width: 580px;
    padding: 0 10px;
}
.chart__month ul {
    display: flex;
    justify-content: space-between;
}
.monthly-progress__chart li,
.monthly-progress__chart li p {
    @include changes;
}
/*----------------График-------------------*/
.data-point {
    content: '';
    position: absolute;
    left: var(--x);
    bottom: var(--y);
    z-index: 5;
    width: 6px;
    height: 6px;
}
.line-segment {
    content: '';
    position: absolute;
    left: calc(var(--x) + 3.5px);
    bottom: calc(var(--y) + 2px);
    z-index: 1;
    width: var(--hypotenuse);
    height: 2px;
    transform: rotate(var(--angle));
    transform-origin: left bottom;
}
.red-line {
    .data-point {
        background: $gradientBaseEnd;
    }
    .line-segment {
        background: $gradientBaseEnd;
    }
}
.blue-line {
    .data-point {
        background: #5BCCFF;   
    } 
    .line-segment {
        background: #5BCCFF;
    }
}
.purple-line {
    .data-point {
        background: #A889E9;   
    } 
    .line-segment {
        background: #A889E9;
    }
}
/*Revenue Per Hour
=======================================================*/
.hour-revenue {
    display: flex;
    flex-direction: column;
    flex: 1 0;  
    align-items: center;
    justify-content: space-between;
}
.hour-revenue > h2 {
    margin-bottom: 30px;
}
.pie-chart {
    position: relative;
    width: 124px;
    height: 124px;
    margin: 0 39px 32px;
    border-radius: 50%;
   @include gradient (135deg, $gradientPieChartStart, $gradientPieChartEnd);
}
.pie-chart span {
    position: absolute;
    top: 45px;
    left: 33px;
    z-index: 25;
    font-weight: 700;
    font-size: $big-numberFont;
    @include gradientText (135deg, $gradientPieChartStart, $gradientPieChartEnd);
}
.pie-chart:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 15;
    border-radius: 50%;
    background-color: $sectionBcg;    
}
.pie-chart:after {
    content: '';
    position: absolute;
    top: 18px;
    right: 18px;
    bottom: 18px;
    left: 18px;
    z-index: 20;
    border-radius: 50%;
    background-color: $sectionBcg; 
    box-shadow: 0 0 5px 5px $borderShadowColor; 
}
.hour-revenue__changes {
    display: flex;
}
.hour-revenue__changes > p {
    padding: 0 7.5px;
}
/*Customers feed
=======================================================*/
.feed {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}
.feed h2 {
    margin-bottom: 38px;
}
.feed-box__list {                           /*Первый уровень списка*/
    display: flex;
    flex-direction: column;
}
.feed-box__item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 18px;
}
.feed-box__item ul {                        /*Второй уровень списка*/
    position: relative;
    margin-left: 90px;
}
.feed-box-item__msg:not(:last-of-type) {
    margin-bottom: 18px;    
}
.feed-box__item ul:before {                 
    content: ''; 
    position: absolute;   
    top: 0;
    left: -17px;
    width: 4px;
    height: 100%;
    background: $borderColor;
}
.feed-box-item__main-msg {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
}
.feed-box-item__main-msg figure {
    margin-right: 20px;    
}
.feed-box-item__main-msg img {
    width: 43px;
    height: 43px;
    margin-bottom: 10px;
    object-fit: cover;
}
.feed-box-item__main-msg figcaption {
    font-weight: 400; 
    font-size: $tinyFont;
    color: $messageTimeColor;   
}
.feed-box-item__text {
    @include standart-text;
    padding: 20px 22px 18px 21px;
    border: 1px solid $borderColor;
}
.feed-box-item__text--narrow {
    @include standart-text;
    padding: 20px 20px 18px;
    border: 1px solid $borderColor;
}
.feed-box-item__text span,
.feed-box-item__text--narrow span {
    font-weight: 900;
    color: $titleColor;
}
/*Todays Task
=======================================================*/
.task {
    display: flex;
    // flex: 1 100%;
    flex-direction: column;
}
.task h2 {
    margin-bottom: 20px;
}
.task__list {
    display: flex;
    flex-direction: column;
}
.task-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid $borderColor;
}
.task-list__item:last-of-type {
    border-bottom: 1px solid $borderColor;
}
.task-item__check input[type="checkbox"] {
    visibility: hidden;
    display: none;
}
.task-item__check {
    position: relative;
    margin-left: 30px;
    font-weight: 900;
    font-size: $mediumFont;
    cursor: pointer;
    @include gradientText;    
}
.task-list__item span {
    position: absolute;
    top: -1px;
    left: -28px;
    z-index: 5;
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid $borderColor;
    cursor: pointer;
}
.task-item__check input[type="checkbox"]:checked ~ span {
    @include gradient;  
    border: none;  
}
.task-item__check input[type="checkbox"]:checked:before ~ span {  /*не работает*/
    content: '';
    position: absolute;
    top: 0;
    left: -28px;
    z-index: 10;
    width: 4px;
    height: 10px;
    background:yellow;
}
.task-list__item p {
    @include standart-text;
}
.task-list__item time {
    position: relative;
    font-weight: 700;
    font-size: $mediumFont;
    color: $taskTimeColor;
    text-align: left;
}
.task-item__time time:before {
    content: '';
    position: absolute;
    top: 1px;
    left: -20px;
    width: 12px;
    height: 12px;
    background: url(../../img/clock.png);
}

/*Progress
=======================================================*/
.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progress > h2{
    margin: 0 62px 28px 62px;
}
.progress__chart img {
    width: 145px;
    margin-bottom: 20px;
    object-fit: contain;
}
.progress__value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progress__value > h4 {
    margin-bottom: 11px;
}
.progress-value__changes {
    display: flex;
}
.progress-value__changes > p{
   padding: 0 7.5px;
}
.h4--modify {
    @include gradientText (135deg, $gradientBarChartStart, $gradientBarChartEnd);
}

/*Shipment
=======================================================*/
.shipment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.shipment > h2 {
    margin-bottom: 24px;
}
.shipment__map img {
    margin-bottom: 15px;
}
.shipment__value {
    display: flex;
}
.shipment-value__changes {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.shipment-value__changes > p {
    padding: 0 7.5px;
}