/*Navigation aside
============================================================*/
.nav-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70px;
    @include gradient (to bottom);
    box-shadow: 6px 0 8px $borderShadowColor;
}
.burger {
    position: relative;
    display: none;
    width: 40px;
    height: 2px;
    background: &sectionBcg;

    &::before {
        content: '';
        position: absolute;
        top: -6px;
        left: 0;
        width: 40px;
        height: 2.5px;
        background: &sectionBcg;
    }

    &::after {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        width: 40px;
        height: 2.5px;
        background: &sectionBcg;
    }
}
.nav-sidebar__logo {
    width: 100%;
    padding: 20px 0;
    background: $sectionBcg;
    a {
        display: flex;
        justify-content: center;
    }
}
.nav-sidebar nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px 15px 20px;

    a {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        color: $sectionBcg;

        &:last-child {
            margin-top: auto;
        }

        &:hover:not(:last-of-type):before {
            content: '';
            position: absolute;
            top: 50%;
            left: calc(100% + 6px);
            border: 8px solid transparent;
            border-left: 6px solid #FC725E;
        }

        p {
            margin-top: 8px;
        }
    }
} 
