@mixin title {
    font-weight: 700;
    font-size: $titleFont;   
    color: $titleColor;
    text-transform: capitalize;
}

@mixin small-title {
    font-weight: 700;
    font-size: $mediumFont;
    color: $titleColor;
    text-transform: capitalize;
}

@mixin standart-text {
    font-weight: 400;
    font-size: $mediumFont;
    color: $textColor;
}

@mixin stactics-number {
    font-weight: 700;
    font-size: $numberFont;
    @include baseGradientText;
}

@mixin changes {
    font-weight: 700;
    font-size: $mediumFont;
    color: $textColor;
}

@mixin baseGradient {
    background: linear-gradient(to bottom, $gradientBaseStart, $gradientBaseEnd);    
}

@mixin baseGradientText {
    background: linear-gradient(to right, $gradientBaseStart, $gradientBaseEnd);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@mixin baseGradientLogo {
    background: linear-gradient(to bottom, $gradientBaseStart, $gradientBaseEnd);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
