@mixin title {
    font-weight: 700;
    font-size: $titleFont;   
    font-family: 'Lato', sans-serif; 
    color: $colorTitle;
}

@mixin small-title {
    @include title;
    font-size: $mediumFont;
}