/*------Font sizes----------*/
$hugeFont : 30px;                       /*Логотип*/
$big-numberFont : 25px;
$numberFont : 20px;
$titleFont : 14px;                         /*Заголовки секций*/
$nameFont : 13px;
$mediumFont : 12px;                         /*Основной текст, заголовки в .stactics*/
$smallFont : 10px;
$tinyFont : 8px;

/*---------Colors------------*/
$bcg : #F0F0F0;
$sectionBcg: #FFFFFF;
$borderColor: #F1F1F1;
$titleColor : #777777;
$textColor : #BFBFBF;
$gradientBaseStart : #FC755B;
$gradientBaseEnd: #FD5272;
$gradientBarChartStart: #8744B1;
$gradientBarChartEnd: #7089E5;
$gradientPieChartStart: #6B5BB4;
$gradientPieChartEnd: #AB6BDD;
$searchColor : #F8F8F8;
$searchTextColor: #C8C8C8;
$hoverlinkColor : #C54457;
$taskTimeColor: #9C9C9C;
$messageTimeColor: #979796;

$maxwidth: 1366px;

