/*------Font sizes----------*/
$hugeFont : 30px;                       /*Логотип, 30px*/
$big-numberFont : 25px;                 /*25*/    
$numberFont : 20px;                     /*20*/
$titleFont : 14px;                         /*Заголовки секций, 14*/
$nameFont : 13px;                       /*13*/
$mediumFont : 12px;                         /*Основной текст, заголовки в .stactics, 12*/
$smallFont : 10px;                      /*10*/
$tinyFont : 8px;                        /*8*/

/*---------Colors------------*/
$bcg : #F0F0F0;
$sectionBcg: #FFFFFF;
$additionalBcg: #FCFCFC;
$borderColor: #F1F1F1;
$borderShadowColor : #EDEDED;

$titleColor : #777777;
$textColor : #BFBFBF;

$gradientBaseStart : #FC755B;
$gradientBaseEnd: #FD5272;
$gradientBarChartStart: #AF6EDE;
$gradientBarChartEnd: #7089E5;
$gradientPieChartEnd: #8744B1;
$gradientPieChartStart: #AB6BDD;

$searchColor : #F8F8F8;
$searchTextColor: #C8C8C8;
$hoverlinkColor : #C54457;
$taskTimeColor: #9C9C9C;
$messageTimeColor: #979796;

$triangleIncrease: #A889E9;
$triangleDecrease: #FD5670;